/* https://cssguidelin.es/#bem-like-naming */

.checkout__content {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(var(--grid-4-columns), 1fr);
    column-gap: var(--grid-4-gutters);
    row-gap: var(--spacing-big);
}

.checkout__heading {
    display: grid;
    grid-column: 1 / span 12;
    color: var(--color-neutral-800);
    font: var(--type-headline-1-font);
    letter-spacing: var(--type-headline-1-letter-spacing);
}

.commerce-one-page-checkout__merged-cart-banner {
    display: grid;
    grid-column: 1 / span 12;
}

.checkout__main {
    display: grid;
    grid-column: 1 / span 7;
    row-gap: var(--spacing-xbig);
}

.checkout__aside {
    display: grid;
    grid-column: 9 / span 4;
    gap: var(--spacing-xbig);
}

.checkout-empty-cart {
    display: block;
}

.commerce-one-page-checkout__place-order {
    display: grid;
    grid-column: 1 / span 12;
    justify-items: center;
}

.checkout__banner {
    margin-bottom: var(--spacing-xbig);
}

/* hide all dividers when the cart is empty */
.checkout-empty-cart ~ .dropin-divider {
    display: none;
}

/* hide all the consecutive dividers because of missing blocks  */
.dropin-divider + .dropin-divider {
    display: none;
}

.checkout__content .dropin-divider {
    margin: 0;
}

.checkout__content .checkout-billing-form__visible {
    display: block;
}

.checkout__content .checkout-billing-form__hidden {
    display: none;
}

/* To add into the cart dropin **/
.cart-order-summary__taxes.dropin-accordion .dropin-divider {
    margin: var(--spacing-medium) auto;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .checkout__content {
        grid-template-columns: 1fr;
        row-gap: var(--spacing-big);
        column-gap: 0;
    }

    .checkout__heading {
        grid-column: 1;
    }

    /* Integrate place order button into Order Summary - mobile */
    .commerce-one-page-checkout__place-order {
        grid-column: unset;
        justify-items: unset;
        margin-top: calc(var(--spacing-big) * -1);
    }
}

/* CartSummaryList */

.cart-summary-list {
  padding: var(--spacing-medium);
  background-color: var(--color-neutral-200);
}

.cart-summary-list__heading {
  display: flex;
  justify-content: space-between;
}

.cart-cart-summary-list__heading-text {
  font: var(--type-headline-2-strong-font);
  letter-spacing: var(--type-headline-2-strong-letter-spacing);
  color: var(--color-neutral-800);
}

.cart-summary-list__edit {
  font: var(--type-body-2-strong-font);
  letter-spacing: var(--type-body-2-strong-letter-spacing);
}

.cart-cart-summary-list__content {
  margin-top: var(--spacing-small);
}

.cart-cart-summary-list__heading {
  row-gap: var(--spacing-small);
  padding-top: 0;
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) { } */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) { } */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) { } */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) { } */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) { } */
